<p-dialog
  header="Property Information"
  [modal]="true"
  [visible]="visible()"
  (visibleChange)="onDialogClose()"
  [style]="{ width: '550px' }"
>
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-2">
      <p-progressbar [value]="formProgressPercentage()" showValue="false" />

      <ol class="flex justify-between gap-8">
        <li [class.active]="formPage() === 1" class="sub-title">
          1. Property Information
        </li>
        <li [class.active]="formPage() === 2" class="sub-title">
          2. Construction Details
        </li>
        <li [class.active]="formPage() === 3" class="sub-title">
          3. Financials
        </li>
      </ol>
    </div>

    <!-- show current form page -->
    @switch (formPage()) {
      @case (1) {
        <app-add-property-information></app-add-property-information>
      }
      @case (2) {
        <app-add-construction-details></app-add-construction-details>
      }
      @case (3) {
        <app-add-property-finances></app-add-property-finances>
      }
    }

    <div class="flex justify-between gap-2 border-t pt-8">
      <p-button label="Cancel" severity="secondary" (click)="onDialogClose()" />

      <div class="flex gap-4">
        @if (formPage() > 1) {
          <p-button
            [label]="'Back'"
            severity="secondary"
            (click)="onBackPageClick()"
          />
        }

        @if (formPage() === 3) {
          <p-button [label]="'Save'" (click)="onDialogClose()" />
        } @else {
          <p-button [label]="'Next'" (click)="onNextPageClick()" />
        }
      </div>
    </div>
  </div>
</p-dialog>
