<p-dialog
  header="Property Information"
  [modal]="true"
  [visible]="visible()"
  [style]="{}"
  (visibleChange)="onDialogClose()"
  class="flex gap-2"
>
  <div>
    <p-progressbar [value]="25" />

    <ol class="flex gap-8">
      <li class="active">1. Property Information</li>
      <li>2. Construction Details</li>
      <li>3. Timeline</li>
      <li>4. Financials</li>
    </ol>
  </div>

  <!-- TODO: step1 component -->

  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" />
    <label for="on_label">On Label</label>
  </p-floatlabel>

  <!-- TODO: step2 component -->

  <!-- TODO: step3 component -->

  <!-- TODO: step4 component -->

  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="onDialogClose()" />
    <p-button label="Save" (click)="onDialogClose()" />
  </div>
</p-dialog>
