.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-panel {
    width: 100%;

    @media (min-width: 768px) {
      width: 20rem; // md:w-80
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &-icon {
      color: var(--primary-color);

      &:hover {
        color: inherit;
      }
    }

    &-label {
      margin-left: 0.5rem;
    }

    &-badge {
      margin-left: auto;
    }

    &-shortcut {
      margin-left: auto;
      border: 1px solid var(--surface-color);
      border-radius: 0.25rem;
      background-color: var(--emphasis-color);
      color: var(--muted-color);
      font-size: 0.75rem;
      padding: 0.25rem;
    }
  }
}
