@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primeicons/primeicons.css';

// reset css styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol li {
  font-size: 12px;
  color: #737b8c;
}

ol li.active {
  font-weight: bold;
  color: var(--p-primary-color);
}

label {
  font-size: 14px;
  font-weight: 500;
}
