<div class="flex flex-col gap-4">
  <!-- Property purchase price -->
  <div class="flex flex-col gap-2">
    <label for="add-property-purchase-price">Purchase Price (EUR)</label>

    <p-inputnumber
      id="add-property-purchase-price"
      mode="currency"
      currency="EUR"
      locale="de-DE"
      class="w-full"
      [field]="propertyForm.purchasePrice"
    />
  </div>

  <!-- Payment structure -->
  <div class="flex flex-col gap-2">
    <label for="add-property-down-payment">Payment Structure</label>
    <p-select
      [options]="PropertyPaymentStructures"
      id="add-property-payment-structure"
      optionLabel="name"
      optionValue="value"
      [field]="propertyForm.paymentStructure"
      class="w-full"
      appendTo="body"
    />
  </div>

  <!-- Payment structure -->
  @if (
    propertyForm().value().paymentStructure ===
    PropertyPaymentStructureEnum.STAGE_BASED
  ) {
    <div
      class="flex flex-col gap-4 p-4"
      [style]="{
        border: '1px solid var(--p-inputtext-border-color)',
        borderRadius: 'var(--p-inputtext-border-radius)',
      }"
    >
      <label>Payment per Stage (EUR)</label>
      <span class="sub-title">Specify the total price due at each stage</span>

      <div class="flex gap-2 flex-col">
        <div class="flex gap-4">
          <div class="flex flex-col gap-2 w-full">
            <label for="add-property-contract-payment ">Sign Contract</label>
            <p-inputnumber
              id="add-property-contract-payment"
              mode="currency"
              currency="EUR"
              class="w-full"
            />
          </div>

          <div class="flex flex-col gap-2 w-full">
            <label for="add-property-act14-payment">Act 14</label>
            <p-inputnumber
              id="add-property-act14-payment"
              mode="currency"
              currency="EUR"
              class="w-full"
            />
          </div>
        </div>

        <div class="flex gap-4">
          <div class="flex flex-col gap-2 w-full">
            <label for="add-property-act15-payment">Act 15</label>
            <p-inputnumber
              id="add-property-act15-payment"
              mode="currency"
              currency="EUR"
              class="w-full"
            />
          </div>

          <div class="flex flex-col gap-2 w-full">
            <label for="add-property-act16-payment">Act 16</label>
            <p-inputnumber
              id="add-property-act16-payment"
              mode="currency"
              currency="EUR"
              class="w-full"
            />
          </div>
        </div>
      </div>
    </div>
  }
</div>
